body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Start of header css */
.header {
  margin-top: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.more-header {
  display: flex;
  width: 100%;
  height: 80px;
}

.header-rest-name {
  color: inherit;
  text-decoration: inherit;
  font: RobotoRegular;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.header-navbar {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header-navbar {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 55px;
}

.header-bottom {
  flex: 1;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
}
/* end of header css */


/* start of tables css*/
.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

div > div {
  padding: 10px;
}

.num-table {
  margin: 50px;
  border: green solid 3px;
  color: green;
  text-align: center;
}

#light .num-table {
  background-color: gray;
}

#dark .num-table {
  background-color: green;
}

.num-table:hover {
  background-color: green;
  color: white;
}

#dark .num-table:hover {
  background-color: #fff;
  color: green;
}
/* end of tables css */


/* menu css start */
.input-container {
  border: black solid 3px;
}

.menu-box {
  border: black solid 3px;
}
/* end menu */


/* start table input css */
.setup-container {
  display: flex;
  gap: 30px;
  margin: 0 auto;
  border: 2px solid black;
  flex-wrap: wrap;
}

.table-box {
  background-color: lightgray;
  padding: 75px;
}

.full-width {
  flex-basis: 100%;
}
/* end table setup */


/* start login css */
.form-label,
.form-input,
.form-textarea {
  display: block;
}

.login-container {
  border: black solid 2px;
  border-radius: 20px;
  
}

.form-input {
  width: 50%;
  padding: 10px;
  margin: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  margin-left: 350px;
}

.login-btn {
  font-size: 1.3rem;
  padding: 0.5rem 1.2rem;
  margin: 5px 0;
  border-radius: 10px;
  border: none;
  background-color: darkgray;
  margin-left: 650px;
}

.login-btn:hover {
  color: white;
  background-color: black;
}

.login-card h2 {
  margin-left: 675px;
  font-weight: normal;
}
/* end login css */

